if SHIELD_CORN_LEFT

config ZMK_KEYBOARD_NAME
    default "corn"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config BT_MAX_CON 
    default 6

config BT_MAX_PAIRED
    default 6

endif

if SHIELD_CORN_LEFT || SHIELD_CORN_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y 

config ZMK_SPLIT_BLE
    default y 

config ZMK_SLEEP
    default y 

config ZMK_POINTING
    default y 

config ZMK_POINTING_SMOOTH_SCROLLING
    default y

endif