if SHIELD_CORN_LEFT

config ZMK_KEYBOARD_NAME
    default "corn"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORN_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif 

if SHIELD_CORN_LEFT || SHIELD_CORN_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y 

config ZMK_SLEEP
    default y 

config ZMK_BLE_EXPERIMENTAL_CONN
    default y

endif